
/*
 * sliders...
 */

.slider::-webkit-slider-runnable-track {
        background-color: #E8E8E8;
}

.slider::-moz-range-track {
        background-color: #E8E8E8;
}


/*
 * http://stackoverflow.com/questions/10814178/css-performance-relative-to-translatez0
 */

.trick-hwacceleration {
        -webkit-transform: translatez(0);
        -moz-transform: translatez(0);
        -ms-transform: translatez(0);
        -o-transform: translatez(0);
        transform: translatez(0);
}


/*
 * Modal
 */

@include media-breakpoint-only(sm) {
       .modal-lg { max-width: 95vw !important;  }
}
@include media-breakpoint-only(md) {
       .modal-lg { max-width: 90vw !important;  }
}
@include media-breakpoint-up(lg) {
       .modal-lg { max-width: 85vw !important;  }
}
@include media-breakpoint-up(xl) {
       .modal-lg { max-width: 80vw !important;  }
}

.modal-header {
	padding: 7px 7px 7px 7px !important;
        border-color: #AAAAAA !important;
}
.modal-body {
	padding: 10px 10px 10px 10px !important;
}
.modal-footer {
	padding: 7px 7px 7px 7px !important;
        border-color: #AAAAAA !important;
}


/*
 * BootBox
 */

 .bootbox .modal-body {
        overflow: auto;
	-webkit-overflow-scrolling: touch;
 }
 .bootboxWidth {
        min-width: 85vw;
 }
 .bootboxShortHeight {
        max-height: 25vh;
 }
 .bootboxLargeHeight {
        max-height: 55vh;
 }

// bootbox for bootstrap 4 trick
.bootbox .modal-header h5 {
	 order: 0;
}
.bootbox .modal-header button {
	 order: 1;
}


/*
 * Unsorted
 */

.ui-icon-reset:after {
	background-image: url("images/reset.svg");
        background-repeat: no-repeat;
        background-size: 15px 15px;
}

.collapsing {
        transition: none !important;
}

.tokenfield .token .token-label {
        max-width: none!important;
}

.text-vertical-lr {
	writing-mode: tb-rl;
        -ms-writing-mode: bt-rl;
        text-orientation: sideways;
}

.ui-helper-hidden-accessible {
        display: none;
}


/*
 * Glow
 */

.bg-glow {
   background-color: orange !important;
}


/*
 * IntroJS
 */

@media only screen and (max-width: 500px) {
   .tooltip-large {
      min-width: 70vw;
      max-width: 90vw;
   }
}

@media only screen and (min-width: 500px) {
   .tooltip-large {
      min-width: 50vw;
      max-width: 70vw;
   }
}

@media only screen and (min-width: 1000px) {
   .tooltip-large {
      min-width: 25vw;
      max-width: 35vw;
   }
}


/*
 *  Colors
 */

:root {
   --color-help-green: #D4DB17;
}

.bg-help {
   color: black !important;
   background-color: #D4DB17 !important;
}

.bg-debug-asm {
   color: black !important;
   background-color: #00EE88 !important;
}

.bg-toolbar-action {
   background-color: #CCCCCC !important;
}

